* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#000;
    color: #fff;
    font-family: Lato;
    overflow: hidden;
    height: 100vh;
    cursor: -webkit-image-set(url(https://dl.dropboxusercontent.com/s/xmby7tz86hsy98z/normal.png) 1x, url(https://dl.dropboxusercontent.com/s/mm6qf8whdhl1mcp/normal2x.png) 2x) 0 0, pointer !important;
}

#container {
    width: 100vw;
    margin: 8rem auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.circle {
    border: 5px solid rgba(240, 0, 17, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle:first-of-type {
    width: 38px;
    height: 38px;
    border: 5px solid rgba(240, 0, 47, 0.19);
    position: absolute;
    left: 15rem;
    top: 60vh;
}

.circle:nth-child(2) {
    width: 15px;
    height: 15px;
    border: 3px solid rgba(240, 0, 27, 0.1);
    position: absolute;
    top: 80vh;
    left: 40vw;
}

.circle:nth-child(3) {
    position: absolute;
    top: 60vh;
    right: 5rem;
}

#menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 55;
}

h1 {
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: #f0002f;
    font-weight: 800;
    font-size: 3.5rem;
    text-transform: uppercase;
}

#controls {
    position: absolute;
    top: 0;
    right: -5rem;
    height: 100vh;
    background: #f0002f;
    transform: scaleX(0);
    transition: cubic-bezier(1, 0, 0, 1) .7s;
} 

#break-label, #session-label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.95);
}

#break-title,
#session-title {
    grid-column: 1 / -1;
    margin: 2rem 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato';
}

#break-title::after,
#session-title::after {
    content: '';
    height: 1px;
    width: 60%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    margin: 1rem auto 0;
}

#break-title::before,
#session-title::before {
    content: '';
    height: 1px;
    width: 60%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto 1rem;
}

#session-title {
    margin-top: 4rem;
}

#timer-label {
    grid-column: 2 / 6;
    text-align: center;
    font-family: 'Playfair Display';
}

#time-left {
    display: inline-flex;
    margin: 2rem;
    font-size: 7rem;
    color: #f0002f;
    font-family: 'Lato';
}

.arrow,
#menu-icon {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.arrow {
    margin: 0 .5rem;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play, 
.pause {
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}

.pause {
    color: #f0002f;
}

.reset {
    margin-left: 3rem;
    color: #f0002f;
    font-size: 1.8rem;
    cursor: pointer;
}


