* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Playfair Display';
}

#container {
    width: 70vw;
    margin: auto;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

h1 {
    text-align: center;
    grid-column: 1/ -1;
    margin: -2rem 0 4rem;
    color: #f0002f;
    font-family: Lato;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#break-label, #session-label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#break-label {
    grid-column: 1 / 2;
}

#break-title {
    grid-column: 1/-1;
}

#session-label {
    grid-column: 3/4;
}

#session-title {
    grid-column: 1/-1;
}

#timer-label {
    grid-column: 2 / 3;
    margin-top: 2rem;
    text-align: center;
}
#time-left {
    display: inline-flex;
    margin: 2rem;
    font-size: 5rem;
    color: #f0002f;
    font-family: Lato;
}

.arrow {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}



















