* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: Lato;
}

#container {
    width: 100vw;
    margin: auto;
/*    margin-top: 7rem;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

h1 {
    text-align: center;
    grid-column: 1/ -1;
    margin: 4rem 0;
    color: #f0002f;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#controls {
    position: absolute;
    top: 5rem;
    right: 1rem;
    transition: all .3s;
    opacity: 0;
}

#break-label, #session-label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}


#break-title,
#session-title {
    grid-column: 1 / -1;
    margin: 1rem 0;
}


#timer-label {
    grid-column: 2 / 6;
    text-align: center;
}

#time-left {
    display: inline-flex;
    margin: 2rem;
    font-size: 5rem;
    color: #f0002f;
}

.arrow {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.play, 
.pause {
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}

.reset {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #f0002f;
    font-size: 1.8rem;
    cursor: pointer;
}

#hidden-reset {
    position: absolute;
    top: 2.5rem;
    left: 4.5rem;
    opacity: 0;
    transition: all .5s;
}

.reset:hover + #hidden-reset {
    opacity: 1;
}
















